In [10]:
#!pip install mysql-connector-python
import mysql.connector as sql

connection=sql.connect(
host="localhost",
user="root",
password="Subham230199@",
database="mydatabase")#use mydatabase

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x0000021A44B29B38>

## Creating Databases

In [11]:
cursor =connection.cursor()
#cursor.execute("CREATE DATABASE student")

In [12]:
cursor.execute('SHOW DATABASES')

In [13]:
for x in cursor:
    print(x)

('information_schema',)
('mavenmovies',)
('mydatabase',)
('mysql',)
('performance_schema',)
('subham',)
('sys',)

## CRUD operations:

In [14]:
#create table
cursor.execute("CREATE TABLE studentinfo(id INT AUTO_INCREMENT PRIMARY KEY,name varchar(255),subject varchar(255))")

In [15]:
#insert records in table
query ="Insert into studentinfo(name,subject) values(%s,%s)"
value=("john","statistics")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [16]:
#insert multiple records
query ="Insert into studentinfo(name,subject) values(%s,%s)"
values=[("Ram","maths"),("joe","stats"),("Ankur","Data Science"),("Vishal","physics"),("paul","ML")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [25]:
#select all
cursor=connection.cursor()
cursor.execute("SELECT * FROM studentinfo")

In [18]:
### fetch all the data
cursor.fetchall()

[(1, 'john', 'statistics'),
 (2, 'Ram', 'maths'),
 (3, 'joe', 'stats'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Vishal', 'physics'),
 (6, 'paul', 'ML')]

In [26]:
cursor.fetchone()##works like stack pop operation

(1, 'john', 'statistics')

In [27]:
lst=cursor.fetchall()

In [28]:
for records in lst:
    print(records)

(2, 'Ram', 'maths')
(3, 'joe', 'stats')
(4, 'Ankur', 'Data Science')
(5, 'Vishal', 'physics')
(6, 'paul', 'ML')

In [29]:
#select particular rows
cursor.execute("select * from studentinfo where name='john'")

In [30]:
cursor.fetchall()

[(1, 'john', 'statistics')]

In [32]:
#select particular columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
cursor.fetchall()

[('statistics',),
 ('maths',),
 ('stats',),
 ('Data Science',),
 ('physics',),
 ('ML',)]

In [33]:
#select particular columns
cursor.execute("SELECT DISTINCT name from studentinfo")
cursor.fetchall()

[('john',), ('Ram',), ('joe',), ('Ankur',), ('Vishal',), ('paul',)]

In [34]:
#select particular columns
cursor.execute("SELECT name,subject FROM studentinfo WHERE name='Ram' OR subject='ML'")
cursor.fetchall()

[('Ram', 'maths'), ('paul', 'ML')]

In [35]:
#drop table(delete table)
cursor.execute("DROP TABLE studentinfo")